.middlebar {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 42px;
    padding-bottom: 8px;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $grey-bgc;
    margin-right: 32px;

    .button__text {
      margin: 0;
    }
  }

  &__actions {
    display: none;
    @media screen and (min-width: 1440px) {
      display: flex;
    }
  }

  &__title {
    @include bold-font;
    letter-spacing: -0.6px;
    line-height: 40px;
    font-size: 28px;
    display: flex;
    margin: 0;
  }

  &__title::before {
    content: '';
    width: 4px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background-color: #41f6d7;
    margin-right: 12px;
    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
    @media screen and (min-width: 1440px) {
      margin-right: 30px;
      margin-left: 2px;
      border-radius: 4px;
    }
  }
}
