@mixin divider {
  content: '';
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  align-self: center;
}

@mixin light-font {
  font-family: 'TT Lakes-Light';
  font-weight: 300;
}

@mixin regular-font {
  font-family: 'TT Lakes-Regular';
  font-weight: 400;
}

@mixin medium-font {
  font-family: 'TT Lakes-Medium';
  font-weight: 500;
}

@mixin bold-font {
  font-family: 'TT Lakes-Bold';
  font-weight: 700;
}

@mixin slider-gradient($height) {
  &::after {
    background: linear-gradient(270deg, $grey-bgc 20%, transparent);
    content: '';
    height: $height;
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    z-index: 200;
  }
  &::before {
    background: linear-gradient(90deg, $grey-bgc 20%, transparent);
    content: '';
    height: $height;
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    z-index: 200;
  }
}
