@import 'logo';

.topbar {
  background-color: #fff;
  display: flex;

  padding: 19px 16px;
  align-items: center;

  @media screen and (min-width: 1440px) {
    display: none;
  }

  &__header {
    display: flex;
  }

  &__user-actions {
    display: none;
    gap: 16px;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: auto;
    }
  }

  &__applications {
    display: flex;
    gap: 16px;
    @media screen and (max-width: 768px) {
      margin-left: auto;
    }
    &:before {
      @include divider;
      margin-right: 4px;
      margin-left: 20px;
    }
  }
}
