@import 'logo';

.topbar {
  background-color: #fff;
  display: flex;

  padding: 19px 16px;
  align-items: center;
  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.topbar__user-actions {
  display: none;
  gap: 16px;
  @media screen and (min-width: 768px) {
    display: inherit;
  }
}

.topbar__applications {
  display: inherit;
  gap: 16px;
  &:before {
    @include divider;
    margin-right: 4px;
    margin-left: 20px;
  }
}
